html {
    scroll-behavior: smooth;
  }

.body-general {
    background-color: #e8c7bd;
    background-image: url("./assets/tanoverlay2.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

section {
    margin-bottom: 150px;
}

#header-image {
    display: flex;
    max-height: 300px;
    min-height: 100px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

#nav-bar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    /* background-color: white; */
    margin: 0px auto 20px auto;
}

a {
    color:#535354 !important;
    text-decoration: none !important;
}

.col-sm {
    display:flex;
    justify-content:space-evenly;
}

.projects:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.overlay {
    position: absolute;
    height: auto;
    top: 20%;
    left: 0;
    right: 0;
    opacity: 0.3;
    background-color: #eeece8;
    visibility: hidden;
    
}

.text1 {
    color: #535354;
    font-size: small;
    text-align: center;
    padding: 10px;

}

card-body {
    border: 0px;
    border-color: transparent;
    backface-visibility: hidden;
}

#card-style {
    border: 0px; 
    background: none;
}

#card-image {
    width: 300px;
    height: auto;
    
}

#card-text2 {
    color: #535354;
    padding: 40px 40px 40px 40px;
}


.project-image {
    border: 0px transparent;
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
    align-content: center;
}

a > p {
    color: #535354;
    text-align: center;
    text-decoration: none;
    font-size:medium;

}

a:hover {
    transition: all .2s ease-in-out; 
    transform: scale(1.15);

}


#skills-list {
display: flex;
justify-content: space-evenly;
background-color: transparent;
margin-left: 200px;
margin-right: 200px;
}

.skills-card {
    background-color: transparent;
    border: none;
}


#form-body {
    background-color: #535354;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 50%;
    border: none;
    
}

.form-background {
    background-color: #535354;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0px;
        
 }
    
input {
    display: flex;
    width: 75%;
    }

textarea {
    display: flex;
    width: 100%
}

#form-button {
    width: 20%;
    margin-top: 15px;
    background-color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px;
    
}

#social-icons {
    width: 25px;
    height: 25px;
    margin: 5px;
}

#footer {
    display: flex;
    width: 100%;
    min-height: 250px;
    bottom: 0;
    line-height: 1.6;
}

.footer-text {
    font-size: small;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.footer-item {
    list-style-type: none;
    padding: 0px;
}

#footer-image {
    display: flex;
    max-width: 200px;
    height: auto;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}