.body-general {
    background-color: lightgray;
}

#header-image {
    max-height: 300px;
    min-height: 100px;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

#nav-bar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    background-color: white;
    margin: 20px auto 20px auto;
}

a {
    color:#DAA0A9 !important;
}


#card-style {
    border: 0px; 
    background: none;
}

#card-text2 {
    padding-top: 50px;
}

#projects {
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-image {
    height: 300px;
}